body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(21, 21, 21);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Animemos al p */

p {
    /* Parte de una animacion */
    /* ?tiempo
        4s = 4 segundos
        13s = 13 segundos
        El tiempo de una animacion 
        puede ser en segundos(s) o milisegundos (ms)
    */

    animation-duration: 4s;
    /* Nombre de la animacion */
    animation-name: primera-animacion;
    background-color: bisque;

    /* Tenemos que enlazar nuestra animacion 
     con nuestro keyframes y esto se da por el nombre*/

     /*Esta propiedad va a permitir poner el numero de 
     veces que queramos que se haga la animacion
     Ejemplo de animation iteration count 4
     estos se hara veces

     Como hacenmos para que sea infinito, para ellos 
     debemos usar el valor infinite
     Esto hara que se reputa de forma infinita
     */
     animation-iteration-count: infinite ;


     animation-direction: alternate;
     
}
@keyframes primera-animacion {
    /* Lo que esta dentro de nuestro keyframes 
    se llaman fotogramas
    */

    /*El inicio de la animacion*/
    from {
        margin-left: 100%;
        margin-top: 40%;
    }

    /*Es el final de la animacion*/
    to {
        color: aqua;
        font-size: 100px;
    }
 }

 h1 {
    font-size: 70px;
    color: #0777;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(250, 188, 2), 1px 1px 0 rgb(245, 183, 0),
      2px 2px 0 rgb(240, 178, 0), 3px 3px 0 rgb(235, 173, 0),
      4px 4px 0 rgb(230, 168, 0), 5px 5px 0 rgb(225, 163, 0),
      6px 6px 0 rgb(220, 158, 0), 7px 7px 0 rgb(215, 153, 0),
      8px 8px 0 rgb(210, 148, 0), 9px 9px 0 rgb(205, 143, 0),
      10px 10px 0 rgb(200, 138, 0), 11px 11px 10px rgba(0, 0, 0, 0.6),
      11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);

      animation-duration: 6s;
      animation-name: screen-saver;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }

  @keyframes screen-saver {
    from{

        margin-left: 100%;
    }

    to{
        margin-right: 100%;

    }

    10% {
        margin-top: 500px;
    }

    30% {
        margin-top: -500px;
    }

    70% {
        margin-top: 500px;
    }

    90% {
        margin-top: -500px;
    }
    100% {
        margin-top: 0px;
    }

  }

